<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Donation</h1>
  <%= simple_form_for @church do |f| %>
    <%= f.input :name %>
    <%= f.input :organization %>
    <%= f.input :amount %>
    <br />
    <%= f.submit 'Donate', class: 'btn btn-primary' %>
  <% end %>
</div>